.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.pureElement-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 2.5px solid;
    border-radius: 5px;
    padding: .5rem;
}

.card>.card-info-wrapper>.body>* {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}

.header-search {
    color: white;
    font-size: 2rem;
}

.search {
    margin: 1rem;
}

html {
    scroll-behavior: smooth;
}

.card>.card-info-wrapper>.body>* {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.skip-nav-link {
    font-variation-settings: "wght" var(--font-weight, 375), "wdth" var(--font-width, 80);
    font-family: Alaska, sans-serif;
    font-size: 1.25rem;
    color: orange;
    letter-spacing: -.5px;
    background: black;
    padding: 0.5rem, 1.25rem;
    border: 0.5rem solid black;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in-out;
}

.skip-nav-link:focus {
    transform: translateY(0);
}